export(add)
export(censCor)
export(censKSample.test)
export(censMulticomp.test)
export(censoring)
export(censorLevels)
export(censpp)
export(censPPCC.test)
export(censQuantile)
export(censReg)
export(censReg_AMLE.fit)
export(censReg_AMLE.pred)
export(censReg_MLE.fit)
export(censStats)
export(censSumStats)
export(convert2qw)
export(countNWISqw)
export(dlimit)
export(fillIn)
export(genWilcox.test)
export(importNWISqw)
export(importQW)
export(kendallATS.test)
export(makeColNames)
export(mcenKM)
export(mdlAMLE)
export(mdlKM)
export(mdlKMstats)
export(mdlMLE)
export(mdlROS)
export(pcodeColNames)
export(pcodeNWISqw)
export(pctCens)
export(ppw.test)
export(qw2mcens)
export(rbindQW)
export(readNWISqw)
export(readNWQLdl)
export(sdlFill)
exportClasses(lcens)
exportClasses(mcens)
exportClasses(qw)
exportMethods(Arith)
exportMethods(as.lcens)
exportMethods(as.mcens)
exportMethods(as.qw)
exportMethods(dotPlot)
exportMethods(Math)
exportMethods(show)
exportMethods(timePlot)
importFrom(stats,median)
importFrom(stats,nobs)
importFrom(stats,quantile)
importFrom(USGSwsGraphs,boxPlot)
importFrom(USGSwsGraphs,ecdfPlot)
importFrom(USGSwsGraphs,probPlot)
importFrom(USGSwsGraphs,qqPlot)
importFrom(USGSwsStats,rmse)
importFrom(USGSwsStats,vif)
importFrom(utils,str)
importMethodsFrom(USGSwsGraphs,dotPlot)
importMethodsFrom(USGSwsGraphs,timePlot)
S3method("[",lcens)
S3method("[",mcens)
S3method("[",qw)
S3method(as.character,lcens)
S3method(as.character,mcens)
S3method(as.character,qw)
S3method(as.data.frame,lcens)
S3method(as.data.frame,mcens)
S3method(as.data.frame,qw)
S3method(as.double,qw)
S3method(boxPlot,lcens)
S3method(boxPlot,qw)
S3method(c,lcens)
S3method(c,mcens)
S3method(c,qw)
S3method(censoring,default)
S3method(censoring,lcens)
S3method(censoring,mcens)
S3method(censoring,qw)
S3method(censorLevels,default)
S3method(censorLevels,lcens)
S3method(censorLevels,mcens)
S3method(censorLevels,qw)
S3method(censpp,default)
S3method(censpp,lcens)
S3method(censpp,mcens)
S3method(censQuantile,default)
S3method(censQuantile,lcens)
S3method(censQuantile,mcens)
S3method(censQuantile,qw)
S3method(censStats,default)
S3method(censStats,lcens)
S3method(censStats,mcens)
S3method(censStats,qw)
S3method(coef,censReg)
S3method(ecdfPlot,lcens)
S3method(ecdfPlot,qw)
S3method(extractAIC,censReg)
S3method(fitted,censReg)
S3method(format,lcens)
S3method(format,mcens)
S3method(format,qw)
S3method(is.na,lcens)
S3method(is.na,mcens)
S3method(is.na,qw)
S3method(length,lcens)
S3method(length,mcens)
S3method(length,qw)
S3method(logLik,censReg)
S3method(mean,lcens)
S3method(mean,mcens)
S3method(mean,qw)
S3method(median,lcens)
S3method(median,mcens)
S3method(median,qw)
S3method(nobs,censReg)
S3method(plot,censReg)
S3method(plot,genWilcox)
S3method(plot,htest)
S3method(plot,ppw)
S3method(plot,qw)
S3method(plot,summary.censReg)
S3method(predict,censReg)
S3method(print,censMCT)
S3method(print,censQuantile)
S3method(print,censReg)
S3method(print,censStats)
S3method(print,lcens)
S3method(print,mcens)
S3method(print,qw)
S3method(print,summary.censReg)
S3method(probPlot,lcens)
S3method(qqPlot,lcens)
S3method(quantile,lcens)
S3method(quantile,mcens)
S3method(residuals,censReg)
S3method(rmse,censReg)
S3method(sort,lcens)
S3method(sort,mcens)
S3method(str,lcens)
S3method(str,mcens)
S3method(str,qw)
S3method(subset,qw)
S3method(summary,censReg)
S3method(summary,lcens)
S3method(summary,mcens)
S3method(summary,qw)
S3method(vif,censReg)
useDynLib(USGSwsQW,evalaml)
useDynLib(USGSwsQW,ktau)
useDynLib(USGSwsQW,ppcctest)
useDynLib(USGSwsQW,predaml)
